.container {
  width: 30rem;
  min-height: 25rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  overflow: hidden;
}

.surveyContainer {
  display: flex;
  min-height: 25rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.chart {
  font-size: 0.8rem;
}

.chartContainer {
  height: 16rem !important;
  margin: auto;
  font-size: 0.7rem;
}

.chartTitle {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 1.5rem;
  max-width: 80%;
}

.chartNote {
  font-size: 0.6rem;
  color: rgb(170, 170, 170);
  max-width: 50%;
  align-self: flex-end;
}

svg text {
  fill: black;
}

.footLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nextButton {
  color: white;
  background-color: rgb(60, 59, 64);
  font-size: 0.85em;
  line-height: 2em;
  border: none;
  min-width: 100px;
  cursor: pointer;
  padding: 0 2em;
  border-radius: 2px;
  align-self: flex-end;
  font-family: 'Inter', sans-serif;
}

.nextButton:hover {
  background-color: rgb(68, 67, 72);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
  }
}
