.container {
  min-height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  background-color: rgb(60, 59, 64);
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.headLine {
  font-size: 2rem;
}

.time {
  font-size: 0.8rem;
  color: rgb(193, 193, 193);
  margin-bottom: 1rem;
}

.dataDisclaimer {
  font-size: 0.7rem;
  color: rgb(193, 193, 193);
  margin-top: 1rem;
}

.content {
  max-width: 70%;
}

.assignment {
  font-size: 1rem;
}

.assignment p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.nextButton {
  color: white;
  background-color: #00c49f;
  align-self: flex-end;
  font-size: 0.85em;
  line-height: 2em;
  border: none;
  min-width: 100px;
  cursor: pointer;
  padding: 0 2em;
  border-radius: 2px;
  font-family: 'Inter', sans-serif;
}

.nextButton:hover {
  background-color: #00ae8e;
}


@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
  }
}
