.completedPage {
  margin-top: 1rem;
  height: 35rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
}

.codeBox {
  box-sizing: border-box;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
}

.xValue {
  color: grey;
}

.shareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 1.2rem;
}
.sharePlease {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}

.answers {
  font-size: 0.9rem;
}

.answersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
